/* ---------container set css--------- */

.container{
    max-width: 940px !important;
}

/* ---------footer css--------- */

.footer{
    box-shadow: 1px 1px 8px rgba(172, 175, 177, 1);
}
.footer h5{
    color: gray;
}
.footer p{
    color: #666565;
}

/* ---------mobile footer css--------- */

@media (max-width: 767px) {
    .footer-phone{
        display: block !important;
    }
    .footer{
        display: none !important;
    }
    .footer-phone{
        box-shadow: 1px 1px 8px rgba(172, 175, 177, 1);
    }
    .footer-phone h4{
        color: gray;
    }
    .footer-phone p{
        color: #666565;
        font-size: 18px;
    }
}

/* ---------header css--------- */

.header .top-menu i{
    background: #3c78d8;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.header .top-menu a{
    background: #3c78d8;
    color: white;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header .header-right-menu .demo{
    background: #3c78d8;
    color: white;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header .menu-right{
    color: black;
    text-decoration: none;
}


.mn_hight{
    min-height: 168px;
}

.bg_img_1{
    background-image: url(/website_infohensive/static/src/img/bg_img1.png);
    background-repeat: no-repeat;
    background-color: red;
    background-size: 80%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_2{
    background-image: url(/website_infohensive/static/src/img/bg_img2.png);
    background-repeat: no-repeat;
    background-color: red;
    background-size: 78%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_3{
    background-image: url(/website_infohensive/static/src/img/bg_img3.png);
    background-repeat: no-repeat;
    background-color: red;
    background-size: 78%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_4{
    background-image: url(/website_infohensive/static/src/img/bg_img4.png);
    background-repeat: no-repeat;
    background-color: red;
    background-size: 72%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_5{
    background-image: url(/website_infohensive/static/src/img/bg_img5.png);
    background-repeat: no-repeat;
    background-color: green;
    background-size: 62%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_6{
    background-image: url(/website_infohensive/static/src/img/bg_img6.png);
    background-repeat: no-repeat;
    background-color: green;
    background-size: 73%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_7{
    background-image: url(/website_infohensive/static/src/img/bg_img7.png);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: 73%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_8{
    background-image: url(/website_infohensive/static/src/img/bg_img8.png);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: 73%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_9{
    background-image: url(/website_infohensive/static/src/img/bg_img9.png);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: 73%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_10{
    background-image: url(/website_infohensive/static/src/img/bg_img10.png);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: 73%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_11{
    background-image: url(/website_infohensive/static/src/img/bg_img11.png);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: 73%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}

.bg_img_12{
    background-image: url(/website_infohensive/static/src/img/bg_img12.png);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: 73%;
    height: 115px;
    width: 120px;
    background-position: center center;
    border: 1px solid white;
    border-radius: 8px;
}


