/* ---------container set css--------- */

.footer.container, .header.container, .blog.container{
    max-width: 940px !important;
}

/* ---------footer css--------- */

.footer{
    box-shadow: 1px 1px 8px rgba(172, 175, 177, 1);
}
.footer h5{
    color: gray;
}
.footer p{
    color: #666565;
}

/* ---------mobile footer css--------- */

@media (max-width: 767px) {
    .footer-phone{
        display: block !important;
    }
    .footer{
        display: none !important;
    }
    .footer-phone{
        box-shadow: 1px 1px 8px rgba(172, 175, 177, 1);
    }
    .footer-phone h4{
        color: gray;
    }
    .footer-phone p{
        color: #666565;
        font-size: 18px;
    }
}

/* ---------header css--------- */

.header .top-menu i{
    background: #3c78d8;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.header .top-menu a{
    background: #3c78d8;
    color: white;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header .header-right-menu .demo{
    background: #3c78d8;
    color: white;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header .menu-right{
    color: black;
    text-decoration: none;
}




